{% extends "templates/base.html" %}
{%- block projectName %}Ryan's Blog{% endblock %}
{%- block title %}Blog Homepage{% endblock %}
{%- block content %}
	<div class="view">
		{%- for bentry in blogEntries %}
			<div class="row">
				<div class="col-md-12 column ui-sortable">
					<div class="box box-element" onclick="window.location.href='/blog{{ bentry.location[9:16] }}'" style="cursor: pointer;">
						<h2>{{ bentry.title }}</h2>
						<img src="{{ bentry.image }}">
						<p>{{ bentry.description }}</p>
					</div>
				</div>		
			</div>
		{%- endfor %}
	</div>
{% endblock %}

