{% extends "templates/base.html" %}
{%- block projectName %}Ryan's Blog{% endblock %}
{%- block title %}Blog Homepage{% endblock %}
{%- block content %}
	<div class="w3-container w3-center w3-margin-top">
		{%- for bentry in blogEntries %}
			<div class="blogcard w3-card-4 
				{%- if not loop.first %}
					w3-margin-top
				{% endif %}
				" onclick="window.location.href='/blog{{ bentry.location[9:16] }}'" style="cursor: pointer; margin: auto;">
				<h2>{{ bentry.title }}</h2>
				{%- if bentry.image != "" %}
					<img class="w3-image" src="{{ bentry.image }}" alt="">
				{%- endif %}
				<div class="w3-container w3-center">
					<p>{{ bentry.description }}</p>
				</div>
			</div>
		{%- endfor %}
	</div>
{% endblock %}

